
name: Check links
on:
  push:
  pull_request:
jobs:
  link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Lychee Link Checker
        uses: lycheeverse/lychee-action@v1
        with:
          args: >-
            --verbose
            --no-progress
            --accept 200,204,429
            --exclude-mail
            --exclude-path "assets/**"
            --include-fragments
            .
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
